/* 1200px */

@media (max-width: 1200px) {
    .disc-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 1000px */

@media (max-width: 1000px) {
    #main-nav {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }

    .nav-item {
        border-bottom: solid var(--secondary-color) 1px;
    }

    .nav-item:last-child {
        border-bottom: none;
    }

    .flex {
        display: block;
    } 

    #centered {
        margin: 0 auto;
    }

    .disc-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* 600px */

@media (max-width: 675px) {
    .bio {
        display: block;
    }

    #centered {
        margin: 0 auto;
    }

    .disc-grid {
        grid-template-columns: 100%;
    }

    #trailer {
        height: auto;
    }

    h5 {
        font-size: 1.5em;
    }
}