
:root {
    /* colors */
    --primary-color: #262626;
    --secondary-color: hotpink;
    --accent-color: #2eb82e;
    --txt-main: whitesmoke;
    --txt-secondary: hotpink; 

    /* fonts */

    --title-font: 'Rubik Mono One', sans-serif;
    --primary-font: 'Rubik', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

body {
    margin: 0 5% 0 5%;
}


h1, h2, h3, h4, h5, h6, p {
    color: var(--txt-main);
    margin: 20px 0 20px 0;
}

h1 {
    color: var(--accent-color);
    font-family: var(--title-font);
    font-size: 3em;
}

h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    font-size: 2em;
}

p {
    font-family: var(--secondary-font);
    line-height: 1.5em;
}

img {
    border-radius: 2%;
}

hr {
 border-color: var(--secondary-color);
 margin-top: 20px;
 margin-bottom: 20px;
}

.nav-item {
    display: inline-block;
    color: var(--txt-main);
    list-style: none;
    padding: 1em;
}

a {
    color: var(--txt-main);
    text-decoration: none;
    font-family: var(--secondary-font);
}

a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

header {
    width:100%;
    margin-top: 5%;
    text-align: center;
}

nav {
    width: 100%;
    border-top: solid var(--secondary-color) 1px;
    border-bottom: solid var(--secondary-color) 1px;
}

#main {
    background-color: var(--primary-color);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#flex-item-1 {
    flex-basis: 55%;
}

#flex-item-3 {
    flex-basis: 55%;
    order:2;
}

#flex-item-5 {
    flex-basis: 55%;
}

.flex-item-img {
    flex-basis: 40%;
    /* margin: 20px; */
    
}

.disc-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;

}

.albumartgriditem {
    margin-top: 20px;
    width: 250px;
    height: 250px;
}

.bio {
    display: flex;
    justify-content: space-around;
}

#sub-title {
    margin-bottom: 15px;
}

#bio-meta {
    margin-top: 5%;
    flex-basis: 40%;
    text-align: left;
}

#img-div {
    margin-top: 5%;
    flex-basis: 40%;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
}

.bio-img {
    display: block;
    max-width: 100%;
    height: auto;
}

#doc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#trailer {
    width:100%;
}

#sectionD-additional {
    margin-top: 20px;
    text-align: center;
    padding:1em;
    background-color: var(--accent-color);
    height: 150px;
}

#footer {
    width: 100%;
    text-align: center;

}

.footer-txt {
    color: var(--txt-main);
}

#tribute-link {
    color: var(--txt-secondary);
    padding: 1em;
    background-color: var(--primary-color);
    margin: 2em;
}

#tribute-link:hover {
    color: var(--txt-main);
}

.disc-grid-item {
    text-align: center;
}
.purchase-link {
    font-family: var(--primary-font);
    color: var(--primary-color);
    background-color: var(--accent-color);
    padding: 1em;
    display: block;
    margin: 0 auto;
}

.purchase-link:hover {
    color: var(--txt-main);
}

/* media */

/* 1200px */

@media (max-width: 1200px) {
    .disc-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 1000px */

@media (max-width: 1000px) {
    #main-nav {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }

    .nav-item {
        border-bottom: solid var(--secondary-color) 1px;
    }

    .nav-item:last-child {
        border-bottom: none;
    }

    .flex {
        display: block;
    } 

    #centered {
        margin: 0 auto;
    }

    .disc-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* 600px */

@media (max-width: 675px) {
    .bio {
        display: block;
    }

    #centered {
        margin: 0 auto;
    }

    .disc-grid {
        grid-template-columns: 100%;
    }

    #trailer {
        height: auto;
    }

    h5 {
        font-size: 1.5em;
    }
}